body{
    font-family: 'Titillium Web', sans-serif;

}
header {
    margin-top: 75px;
}

#testimonial {
    background:#f1f1f1;
    padding:50px 0 20px 0 ;
    text-align: center;
    margin-top: 5px;
}
footer{
    background: url('../img/smartphones.png');
}